.todo_background {
    background-color: transparent;
    width: 46rem;
    margin-top: calc(0px - 1.7rem);
}

.taskControll {
    margin-top: 4rem;
    height: 100%;
}

.taskControll header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.taskCreate {
    color: #4EA8DE;
}

.taskCompleted {
    color: var(--purple-300);
}

.taskCreate span,
.taskCompleted span {
    background-color: var(--gray-400);
    color: var(--gray-100);
    margin-left: 8px;
    padding: 2px 9px;
    border-radius: 63rem;
}